/* HOMEPAGE style */

:root{
	--blue: #A8D1D1;
	--lightblue: #DFebeb;
	--green: #DAE5D0;
	--beige: #F9EBC8;
  --lighbeige: #f5f2eb;
	--blue3: #A0BCC2;
  --textdark: #5a8291;
  --yellow: #f6ec85;
  --textdark2:#5ea8a8;

}


 #topSearch h3{
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
  font-family: 'AlikeAngular';
  color: var(--textdark2);
  margin-bottom: 30px;


}

#topSearch {
background-color: white !important;
padding: 20px 0 40px;
margin: 0 -12px;

}

