.projectcard {
    background: #fff;
    border-radius: 8px;
    /* border: 0; */
    height: 300px;
    /* width: 400px ; */
    margin: 1rem;
    /* margin-left: 16px; */
    position: relative;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    text-align: left;
    color: white !important;
    /* margin: 0 -16px !important; */
  }
  
  .projectcard > .img-container {
    height: 100%;
    overflow: hidden;
    text-align: center;
    background:darkolivegreen;
  }

  .projectcard > .img-container > img {
    /* width: 60% */
  }
  
  .projectcard > .content {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 18px;
  }
  
  .projectcard > .content > ul {
    list-style-type: none;
  }
  
  .projectcard > .content > ul > li {
    margin-top: 18px;
  }
  