/* CONTACTFORM style */
.form {
    margin: 20px;
    border: 1px dashed red;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    color: var(--forestGreen);
  }

  #contactForm .btn {
    border: 1px solid var(--forestGreen)!important; 
    border-radius: 25px !important;
    color: var(--forestGreen);
    margin-bottom: 20px;
    background-color: white !important;
  }


