/* FOOTER style */

  :root{
    --blue: #A8D1D1;
    --lightblue: #DFebeb;
    --green: #DAE5D0;
    --beige: #F9EBC8;
    --lighbeige: #f5f2eb;
    --blue3: #A0BCC2;
    --textdark: #5a8291;
    --yellow: #f6ec85;
  
  }

  .footer{
    background: var(--blue);
    margin: 0 -12px;
    padding-top: 10px;
    border: 3px solid white; 
  }
  
  .socialMedia svg {
    color: var(--lightblue);
    margin: 15px;
    font-size: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
  }
  
  .socialMedia svg:hover{
    transform: scale(1.5); 
    color: var(--green);
  }
  
  .footer p {
    color: var(--lightblue);
  }

  .btt {
    border: 1px dashed white !important;
    height:90px;
    width:50px;
    /* visibility: hidden; */
  }
