/* CONTACTFORM style */

:root{
	--blue: #A8D1D1;
	--lightblue: #DFebeb;
	--green: #DAE5D0;
	--beige: #F9EBC8;
  --lighbeige: #f5f2eb;
	--blue3: #A0BCC2;
  --textdark: #5a8291;
  --yellow: #f6ec85;

}


.form {
    margin: 20px;
  }
  
  .form input {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;

  }

  #HelpBlock {
    padding-left: 10px;
  }

  /* #contactForm .btn {
    border: 1px solid var(--forestGreen)!important; 
    border-radius: 25px !important;
    color: var(--forestGreen);
    margin-bottom: 20px;
    background-color: white !important;
  } */


input.me-2.form-control{
  background-color: var(--lightblue);
  border: 1px solid var(--blue);
  color: var(--forestGreen);
  line-height: 40px !important;
  font-size: 20px;
}

button.btn.btn-outline-success {
  border: 1px solid var(--blue); 
  border-radius: 25px !important;
  color: white;
  font-size: 20px;
  font-style: bold;
  background-color: var(--blue);
}

button.btn.btn-outline-success:hover{
  background-color: #f5f2eb;
  color: var(--textdark);
  border: 1px solid var(--textdark);
}

/* ================= RESPONSIVE MEDIA QUERIES - MOBILE FIRST ================= */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

#searchBar {
  width: 60% !important;
}

input.me-2.form-control{
  background-color: var(--lightblue);
  border: 1px solid var(--blue);
  color: var(--forestGreen);
  line-height: 30px !important;
}

input.me-2.form-control{
  font-size: 18px;
}

button.btn.btn-outline-success {
  font-size: 18px;
}
} 