/* INDEX styling */

@font-face { 
  font-family: Lato; 
  src: url('./assets/fonts/Lato/Lato-Regular.ttf'); 
} 

* {
   box-sizing: border-box;  /* Bootstrap default */
  }

body {
  font-family: 'Lato', sans-serif;
  background-color:rgba(255, 255, 0, 0.1) !important;
  overflow: scroll; /* Show scrollbars */
/*   
    background-image: url("./assets/images/2.png");
    background-repeat: repeat; */
  
}

/* .container-fluid {
  margin-top: 20px;
  margin-bottom: 40px;
} */

.container {
  width: 1000px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color:white;
  height: 800px;
}




/* ================= RESPONSIVE MEDIA QUERIES - MOBILE FIRST ================= */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

} 

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}