/* INDEX styling */

@font-face { 
  font-family: Lato; 
  src: url('./assets/fonts/Lato/Lato-Regular.ttf'); 
} 

@font-face { 
  font-family: AlikeAngular-Regular; 
  src: url('./assets/fonts/AlikeAngular-Regular.ttf'); 
} 

* {
   box-sizing: border-box;  /* Bootstrap default */
  }

body {
  font-family: 'Lato', sans-serif;
  /* background-color:rgba(255, 255, 0, 0.1) !important; */
  background-image: url('./assets/images/beeBackground.png');
  background-repeat: repeat;
  overflow: scroll; /* Show scrollbars */
/*   
    background-image: url("./assets/images/2.png");
    background-repeat: repeat; */
  
}

body >img {opacity: 0.75;}

/* .container-fluid {
  margin-top: 20px;
  margin-bottom: 40px;
} */

.container {
  width: 1000px !important;
  margin-top: 20px;
  margin-bottom: 40px;
  /* background-color:rgba(255, 255, 255, 0.4); */
  /* border: 1px dashed red; */
  padding: 0;
  /* margin: -16px; */
  height: auto;
}




/* ================= RESPONSIVE MEDIA QUERIES - MOBILE FIRST ================= */

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

} 

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
}